Source: trompeloeil
Priority: optional
Maintainer: Zsolt Salamon <zsolt.salamon@ultinous.com>
Uploaders: Kristof Frank <oturw@ultinous.com>
 , Lengyel Zsolt <zsolt@ultinous.com>
Build-Depends: debhelper (>= 11), cmake
Standards-Version: 4.1.4
Section: libs
Homepage: https://github.com/rollbear/trompeloeil
Vcs-Git: https://github.com/ultinous/ubuntu.git
Vcs-Browser: https://github.com/ultinous/ubuntu

Package: trompeloeil-dev
Section: libdevel
Architecture: all
Multi-Arch: foreign
Depends: ${misc:Depends}
Description: Header only C++14 mocking framework
 A thread-safe header-only mocking framework for C++11/14
 using the Boost Software License 1.0

Package: trompeloeil-doc
Section: doc
Architecture: all
Multi-Arch: foreign
Depends: ${misc:Depends}
Description: Header only C++14 mocking framework
 A thread-safe header-only mocking framework for C++11/14
 using the Boost Software License 1.0

