Package: libturbojpeg
Source: libjpeg-turbo
Version: 1.5.2-0ubuntu6+ultinous1
Architecture: amd64
Maintainer: Ubuntu Developers <ubuntu-devel-discuss@lists.ubuntu.com>
Installed-Size: 482
Pre-Depends: multiarch-support
Depends: libc6 (>= 2.14)
Replaces: libjpeg-turbo8 (<< 1.1.90+svn722-1ubuntu6)
Section: libs
Priority: optional
Multi-Arch: same
Homepage: http://libjpeg-turbo.virtualgl.org/
Description: IJG JPEG compliant runtime library.
 Runtime library supporting the Independent JPEG Group's standard
 for JPEG files.
 .
 This package contains the libturbojpeg.so library, used by
 turboVNC and other users of the past TurboJPEG library.
