Package: libjpeg-turbo8-dev
Source: libjpeg-turbo
Version: 1.5.2-0ubuntu6+ultinous1
Architecture: amd64
Maintainer: Ubuntu Developers <ubuntu-devel-discuss@lists.ubuntu.com>
Installed-Size: 805
Depends: libc-dev, libjpeg-turbo8 (= 1.5.2-0ubuntu6+ultinous1)
Conflicts: libjpeg62-dev, libjpeg7-dev
Replaces: libjpeg62-dev, libjpeg7-dev, libjpeg8-dev (<< 8c-2ubuntu5), libturbojpeg0-dev (<< 1.5.2-0ubuntu2)
Provides: libjpeg-dev
Section: libdevel
Priority: optional
Multi-Arch: same
Homepage: http://libjpeg-turbo.virtualgl.org/
Description: Development files for the IJG JPEG library
 The Independent JPEG Group's JPEG library is a library for handling
 JPEG files.
 .
 This package contains the static library, headers and documentation.
