Source: sqlite3-cpp
Section: database
Priority: optional
Maintainer: Kristof Frank <oturw@ultinous.com>
Uploaders: Lengyel Zsolt <zsolt@ultinous.com>,
           Kozák Miklós <garmine@ultinous.com>
Build-Depends: debhelper (>= 11), cmake, libsqlite3-dev, libgtest-dev, libgmock-dev
Standards-Version: 4.1.4
Vcs-Git: https://github.com/SRombauts/SQLiteCpp.git
Vcs-Browser: https://github.com/SRombauts/SQLiteCpp
X-Ultinous-Upstream-Release: https://github.com/SRombauts/SQLiteCpp/archive/2.2.0.tar.gz

Package: libsqlite3-cpp2
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: SQLiteC++ is a smart and easy to use C++ SQLite3 wrapper.
 SQLiteC++ offers an encapsulation around the native C APIs of SQLite, with a
 few intuitive and well documented C++ classes.

Package: libsqlite3-cpp-dev
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends} , libsqlite3-cpp2 (= ${binary:Version})
Description: SQLiteC++ is a smart and easy to use C++ SQLite3 wrapper dev package.
 SQLiteC++ offers an encapsulation around the native C APIs of SQLite, with a
 few intuitive and well documented C++ classes.
