Source: nvidia-cudnn
Maintainer: ULTINOUS LTD <sysadmins@ultinous.com>
Uploaders: Kozák Miklós <garmine@ultinous.com>
X-Ultinous-Build-Type: prebuilt

Package: libcudnn7

Package: libcudnn7-dev

Package: libcudnn7-doc

