Source: chromaprint
Priority: optional
Maintainer: Debian Multimedia Maintainers <debian-multimedia@lists.debian.org>
Uploaders:
 Sebastian Ramacher <sramacher@debian.org>,
 Reinhard Tartler <siretart@tauware.de>,
 Kozák Miklós <garmine@ultinous.com>
Build-Depends:
 cmake,
 debhelper (>= 11),
 libgtest-dev,
 python3-docutils (>= 0.6),
# libavcodec-dev | libavcodec-nvidia-dev [arm64],
 libavcodec-dev,
# libavformat-dev | libavformat-nvidia-dev [arm64],
 libavformat-dev,
# libswresample-dev | libswresample-nvidia-dev [arm64],
 libswresample-dev
Standards-Version: 4.1.4
Section: libs
Homepage: https://acoustid.org/chromaprint
Vcs-Git: https://salsa.debian.org/multimedia-team/chromaprint.git
Vcs-Browser: https://salsa.debian.org/multimedia-team/chromaprint
X-Ultinous-Upstream-Release: https://github.com/acoustid/chromaprint/releases/download/v1.4.3/chromaprint-1.4.3.tar.gz

Package: libchromaprint-dev
Section: libdevel
Architecture: any
Multi-Arch: same
Depends:
 libchromaprint1 (= ${binary:Version}),
 ${misc:Depends}
Description: audio fingerprinting library - development files
 Chromaprint is a library for calculating audio fingerprints
 which are used by the Acoustid service. Its main purpose is to provide an
 accurate identifier for record tracks
 .
 This package includes development files needed to compile programs
 using libchromaprint.

Package: libchromaprint1
Architecture: any
Multi-Arch: same
Depends:
 ${misc:Depends},
 ${shlibs:Depends},
 libavcodec58 | libavcodec-nvidia58 [arm64],
 libavutil56 | libavutil-nvidia56 [arm64]
Description: audio fingerprint library
 Chromaprint is a library for calculating audio fingerprints
 which are used by the Acoustid service. Its main purpose is to provide an
 accurate identifier for record tracks

Package: libchromaprint-tools
Section: sound
Architecture: any
Depends:
 ${misc:Depends},
 ${shlibs:Depends},
 libavcodec58 | libavcodec-nvidia58 [arm64],
 libavutil56 | libavutil-nvidia56 [arm64],
 libavformat58 | libavformat-nvidia58 [arm64],
 libswresample3 | libswresample-nvidia3 [arm64]
Description: audio fingerprinting library - tools
 Chromaprint is a library for calculating audio fingerprints
 which are used by the Acoustid service. Its main purpose is to provide an
 accurate identifier for record tracks
 .
 This package provides the fpcalc utility.
