Source: docker-util
Section: utils
Priority: optional
Maintainer: ULTINOUS LTD <sysadmins@ultinous.com>
Uploaders: Szabó Attila <attila@ultinous.com>,
  Frank Kristóf <oturw@ultinous.com>,
  Szabó Attila <attila@ultinous.com>
Build-Depends: debhelper (>= 10), dh-cargo, libssl-dev
Standards-Version: 4.1.2
Vcs-Git: git@github.com:Ultinous/docker-util.git
Vcs-Browser: https://github.com:Ultinous/docker-util.git
X-Ultinous-Upstream-Release: http://can-i-haz-files/gentoo/docker-util-release-1.20.0.tar.gz

Package: docker-util
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, docker-ce-cli
Description: General purpose Docker image management tool
 General purpose Docker image management and build tool
 See README for details on GitHub
